#app-bar button{
    color: white;
    font-size: 16px;
    
}
#app-bar{
    background-color: #B53471;
}
#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (min-width: 580px){
    #app-bar{
        
        position: fixed;
        top: 0;
        width: 100%;
 
    }
	
}

@media only screen and (max-width: 425px){
    #navbar-tools{
        flex-direction: column;
    }
	
}
